@font-face{
font-family: OpenSansRegular;
	src: url('../fonts/OpenSans-Regular.ttf');
}
body,p,a,span,h1,h2,h3,td,th,div {
	font-family: OpenSansRegular, Verdana;
}

body {
	margin: 0px;
	background-color: #FBF9F5; 
}

a:VISITED, a:HOVER, a:ACTIVE, a:LINK{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

span.loggedUser{
	font-style: italic;
}

div.headerDiv{
	width:100%; 
	background-color: #F5E1C2; 
	height: 30px; 
	padding-top: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-left: 40px;
}

div.mainPage{
	padding-top:60px;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

tr.lapNeutral{
	background-color: #efefef;
}

tr.lapNegative{
	background-color: #aa0000;
}

tr.lapPositive{
	background-color: #00aa00;
}
